@model NovaMarket.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
}

<h2>Nuevo Producto</h2>

<form asp-action="Create">

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PrecioCompra" class="form-label"></label>
        <input asp-for="PrecioCompra" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PrecioVenta" class="form-label"></label>
        <input asp-for="PrecioVenta" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label"></label>
        <input asp-for="Stock" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Volver
    </a>

</form>