@model NovaMarket.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h2>Eliminar Producto</h2>

<div class="alert alert-danger">
    ¿Seguro que deseas eliminar este producto?
</div>

<div>

    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Precio Compra:</strong> @Model.PrecioCompra</p>
    <p><strong>Precio Venta:</strong> @Model.PrecioVenta</p>
    <p><strong>Stock:</strong> @Model.Stock</p>

</div>

<form asp-action="Delete">

    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">
        Eliminar
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>