@model NovaMarket.Models.Egreso

@{
    ViewData["Title"] = "Registrar Egreso";
}

<h2>Registrar Egreso</h2>

<form asp-action="Create">

    <div class="form-group mb-3">
        <label asp-for="Descripcion" class="form-label"></label>
        <input asp-for="Descripcion" class="form-control"/>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Monto" class="form-label"></label>
        <input asp-for="Monto" class="form-control"/>
        <span asp-validation-for="Monto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}